<!DOCTYPE html>
<html lang="it">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
  </head>

  <body class="index light-grey-background" data-lang="en" data-output-path="<%= webpackConfig.output.publicPath %>">

    <%= require('html-loader!./inc/_body.html').default %>
    <%= require('html-loader!./inc/_sidenav.html').default %>

  </body>
</html>
