<!DOCTYPE html>
<html lang="it">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link href="./css/web-common-plugins.min.css" rel="stylesheet">
  </head>

  <body class="index light-grey-background" data-lang="en">
    <%= require('html-loader!./inc/body.html').default %>
    
    <script src="./js/web-common-plugins.min.js"></script>
    <script>
      // Notification
      document.querySelector( 'button#notification-btn-alert' ).addEventListener( 'click', ( e ) => {
        WebCommonPlugins.Notification( 'alert', 'Testo di prova' );
      } );

      // Overlay
      document.querySelector( 'button#overlay-btn' ).addEventListener( 'click', ( e ) => {
        WebCommonPlugins.Overlay( true );
        setTimeout( () => { WebCommonPlugins.Overlay( false ) }, 2000 );
      } );

      document.querySelector( 'button#overlay-btn-2' ).addEventListener( 'click', ( e ) => {
        // Mostra un overlay con spinner di caricamento
        WebCommonPlugins.Overlay( true, true );
        setTimeout( () => { WebCommonPlugins.Overlay( false ) }, 2000 );
      } );
    </script>
  </body>
</html>
