<!DOCTYPE html>
<html lang="it">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link href="./css/web-common-plugins.min.css" rel="stylesheet">
  </head>

  <body class="index light-grey-background" data-lang="en" data-output-path="<%= webpackConfig.output.publicPath %>">
    <%= require('html-loader!./inc/body.html').default %>

    <script src="./js/web-common-plugins.min.js"></script>
    <script>
    // Gestione stringhe di traduzione
    let obj = {
      'it': {
        'notification-text': 'Le tariffe variano di continuo, a volte anche nel corso della stessa giornata',
        'modalbox-title': 'Titolo modalbox',
        'modalbox-text': "Il noleggio auto è uno dei servizi più richiesti in ambito turistico, ma, specie per chi si ritrova a noleggiare un'auto per la prima volta, <strong>non è sempre facile intuire quali decisioni prendere per contenere i costi</strong> o, semplicemente, per evitare sgradite sorprese.",
      },
      'en': {
        'notification-text': 'Rates vary continuously, sometimes even within the same day',
        'modalbox-title': 'Modalbox title',
        'modalbox-text': "Car rental is one of the most requested services in the tourism sector, but, especially for first-time car renters, <strong>it can be difficult to guess which decisions will contain costs</strong> or simply how to avoid unpleasant surprises.",
      }
    }

      WebCommonPlugins.l10n.add( obj );
      console.log( WebCommonPlugins.l10n );

      // Smooth behavior
      WebCommonPlugins.Utils.smoothBehavior();

      // LightBox
      WebCommonPlugins.Lightbox();

      // Modalbox
      document.querySelector( 'button#modalbox-btn' ).addEventListener( 'click', ( e ) => {
        WebCommonPlugins.Modalbox(
          'modalbox-title',
          'modalbox-text',
          () => { console.log( "L'utente ha confermato!" ); return true; },
          () => { console.log( "L'utente ha annullato!" ); }
        );
      } );

      // Notification
      document.querySelector( 'button#notification-btn-success' ).addEventListener( 'click', ( e ) => {
        WebCommonPlugins.Notification( 'success', 'Testo di prova' );
      } );

      document.querySelector( 'button#notification-btn-warning' ).addEventListener( 'click', ( e ) => {
        WebCommonPlugins.Notification( 'warning', 'Testo di prova' );
      } );

      document.querySelector( 'button#notification-btn-notice' ).addEventListener( 'click', ( e ) => {
        WebCommonPlugins.Notification( 'notice', 'notification-text', 0, () => { console.log( "L'utente ha confermato!" ) } );
      } );

      document.querySelector( 'button#notification-btn-alert' ).addEventListener( 'click', ( e ) => {
        WebCommonPlugins.Notification( 'alert', 'Testo di prova' );
      } );

      // Overlay
      document.querySelector( 'button#overlay-btn' ).addEventListener( 'click', ( e ) => {
        WebCommonPlugins.Overlay( true );
        setTimeout( () => { WebCommonPlugins.Overlay( false ) }, 2000 );
      } );

      document.querySelector( 'button#overlay-btn-2' ).addEventListener( 'click', ( e ) => {
        // Mostra un overlay con spinner di caricamento
        WebCommonPlugins.Overlay( true, true );
        setTimeout( () => { WebCommonPlugins.Overlay( false ) }, 2000 );
      } );
    </script>
  </body>
</html>
