.rotate { @include rotate-animation( 1s, ease-out ); }
.pulsate { @include pulsate-animation( 2s, ease-out ); }

@keyframes bouncein {
  0% {
    transform: scale(.3);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulsate {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.3;
    }
}

@keyframes rotate {
  0% {
    @include transform( rotate(0deg) );
  }
  100% {
    @include transform( rotate(360deg) );
  }
}

@keyframes slidebottom {
  0% {
    @include transform( translateY(-10px) );
  }
  100% {
    @include transform( translateY(0) );
  }
}

@keyframes slidetop {
  0% {
    @include transform( translateY(0) );
  }
  100% {
    @include transform( translateY(-10px) );
  }
}
