.form-section { margin-top: 10px; }
fieldset { margin-top: 15px; border: 1px solid $xlight_grey_color; }
legend { margin-left: 20px; border-radius: 5px; padding: 5px 10px; font-weight: bold; }
label { display: block; }
input, textarea, select {
  @include appearance;
  border-radius: 5px;
  border: 1px solid $light_grey_color;
  outline: 0;
  background-color: $white_color;
  padding: 10px;
  width: 100%;
  height: 50px;
  font-size: 100%;
  @include font-a;
}
input:focus, textarea:focus, select:focus { background-color: $focus_color; }
// The ::-ms-clear CSS pseudo-element represents a button at the edge of a text <input> which clears away the current value of the <input> element
// This button and pseudo-element are non-standard, supported only in Internet Explorer 10 and 11 and Edge 12+
::-ms-clear { display: none; }

// @see https://css-tricks.com/styling-a-select-like-its-2019/
select {
  border-radius: 5px 5px 0 0;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
// The ::-ms-expand CSS pseudo-element is a Microsoft extension that represents the button of a menu control that opens or closes the drop-down menu
// Typically it is a triangle that points downward
::-ms-expand { display: none; }


button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}
button[type='submit'] { height: 50px; }

// @see https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
label.checkboxradio {
  position: relative;
  display: block;
  padding-left: 35px;
  margin-bottom: 10px;
  @include user-select;
  cursor: pointer;
}

// On mouse over, add a grey background color
label.checkboxradio:hover {
  input ~ span.checkbox, input ~ span.radio { background-color: $dark_grey_color; }
}

label.checkboxradio {
  // Hides the browser's default checkbox/radio button
  input { position: absolute; opacity: 0; height: 0; width: 0; cursor: pointer; }
  // Creates a custom checkbox/radio button
  span.checkbox, span.radio { position: absolute; top: 50%; left: 0; @include transform( translateY(-50%) ); background-color: $light_grey_color; height: 25px; width: 25px; }
  span.radio { border-radius: 50%; }
  // When is checked, add a background color
  input:checked ~ span.checkbox, input:checked ~ span.radio { background-color: $light-a-color; }
  // Creates the indicators (hidden when not checked)
  span.checkbox:after, span.radio:after { content: ''; position: absolute; display: none; }
  // Shows the indicators when checked
  input:checked ~ span.checkbox:after, input:checked ~ span.radio:after { display: block; }
  // Styles the indicators (checkmark and dot/circle)
  span.checkbox:after {
    top: 5px;
    left: 9px;
    border: solid $white_color;
    border-width: 0 3px 3px 0;
    width: 5px;
    height: 10px;
    @include transform( rotate(45deg) );
  }

  span.radio:after {
    top: 9px;
    left: 9px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: $white_color;
  }
}

label.error, .error label { color: $dark_alert_color; }
.error input, .error textarea, .error select, input.error, textarea.error, select.error { border: 2px solid $dark_alert_color; color: $dark_alert_color; }
