@font-face {
  font-family: 'wcf';
  src:  url('fonts/wcf.woff?nt23d2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-family: 'wcf' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.btn { text-decoration: none; }
.btn span { vertical-align: middle }

.icon-big {
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.icon-medium {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.icon-small {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.svg-icon {
  display: inline-block;
  background-image: url(../img/images.svg);
  background-repeat: no-repeat;
}

.it { background-position: 0 0; }
.en { background-position: -24px 0; }
.fr { background-position: -48px 0; }
.es { background-position: -72px 0; }
.de { background-position: -96px 0; }

.icon-login:before {
  content: "\e911";
}
.icon-logout:before {
  content: "\e912";
}
.icon-dollar:before {
  content: "\e90e";
}
.icon-lifebuoy:before {
  content: "\e910";
}
.icon-signup:before {
  content: "\e90d";
}
.icon-company:before {
  content: "\e90f";
}
.icon-mail:before {
  content: "\e90b";
}
.icon-home:before {
  content: "\e90c";
}
.icon-spinner:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-faq:before {
  content: "\e903";
}
.icon-info:before {
  content: "\e904";
}
.icon-marker:before {
  content: "\e905";
}
.icon-padlock:before {
  content: "\e908";
}
.icon-arrow:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e902";
}
.icon-unlink:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e900";
}
.icon-checkmark:before {
  content: "\ea10";
}
