@import 'core/globals';
@import 'core/reset';
@import 'core/animations';
@import 'core/positions';
@import 'core/margins';
@import 'core/backgrounds';
@import 'core/icons';
@import 'core/texts';
@import 'core/forms';
@import 'core/components';
@import 'core/classes';
@import 'core/sidenav';
@import 'core/pageslider';
